button {
  width: 50px;
  height: 45px;
}

.calculadora
{
  display: block;
  margin: 0;
  padding: 20px;
  background: white;
  width: 230px;
  height: 330px;
  border-radius: 25px;

}

#resultado{
display: block;
text-align: center;
font-size: 30px;
margin-bottom: 40px;
width: 230px;
height: 80px;
line-height: 80px;
background: white;
border-radius: 10px;
overflow-y: scroll;
}
