@CHARSET "UTF-8";
*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.social{
  position: fixed;
  right: 5px;
  top:200px;
  z-index: 2000;
}

.social ul{
  list-style: none;
}
.social ul li a{
  display: inline-block;
  color:#fff;
  background:#000;
  text-decoration: none;


}

.social ul li .fa-facebook-official {background: #3b5998;}
.social ul li .fa-instagram {background: #ff0084;}
.social ul li .fa-snapchat {background: #32506d;}
.social ul li .fa-pinterest-p {background: #cb2027;}
.social ul li .fa-twitter {background: #00abf0;}
.social ul li .fa-linkedin {background: #1769ff;}

.social ul li a:hover{
  padding: 5px 10px;
  background: #000;
}
