/* ======== ESTILOS GENERALES ======== */
body {
    font-family: 'Segoe UI', sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

/* ======== TABLAS ======== */

th {
    color: rgb(33, 85, 180);
    background: red;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e6f7ff;
}

/* ======== MENSAJES ======== */
#mensaje {
    margin-top: 25px;
    font-weight: bold;
}

/* ======== UTILIDADES ======== */
.d-none {
    display: none !important;
}
